/* * {
    border: red solid 2px;
} */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0%;
    text-align: center;
}

.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #1f2937;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 8px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    background-color: #1f2937;
}

.logo {
  font-size: 24px;
  color: #f9faf8  
}

.main {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #e5e7eb;
} 

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    display: flex;
    margin-bottom: 0%;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.img {
    display: flex;
    align-items: center;
    justify-self: flex-end;
}

.text {
    display: flex;
    flex-direction: row;
    /*justify-content: space-evenly;*/
    align-items: center;
    width: 554px;
    height: 272px;
    flex-wrap: wrap;
    align-content: center;
    /*margin:auto;*/
    font-size: 18px;
    color: #e5e7eb;
}

button {
    display:flex;
    margin-bottom: 15px;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #3882f6;
    box-shadow: none;
    color: #f9faf8;
}
.mid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 361px;
}

.last {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    font-size: 36px;
    font-weight: 900;
    margin-bottom:  32px;
    color:#1f2937;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
}


.info {
    max-width: 200px;
}

img {
    border-radius: 7%;
}


.text-mid {
    color: #1f2937;
}

.lmid {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 292px;
    background-color: #e5e7eb;
}

.quote {
    display: flex;
    align-items: center;
    text-align: center;
    width: 996px;
    height: 200px;
    flex-wrap: wrap;
    justify-content:flex-end;
    align-content: center;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.strong {
    display: flex;
}

.last {
    display: flex;
    height: 292px;
    flex-wrap: wrap;
    background-color: white;
}
.last-container {
    display: flex;
    width: 900px;
    flex-wrap: wrap;
    background-color: #3882f6;
    border-radius: 8px;
    justify-content: space-around;
}

.last-text {
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 6px;
}

h2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 16px;
    border-radius: 8px;
    box-shadow: none;
    color: #f9faf8;
}

.sign-up {
    display: flex;
    border-color: #e5e7eb;
    border-radius: 8px;
}

.footer {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 18px;
    height: 69px;
    text-align: center;
    justify-content: center;
    align-items: center;
}